---
import ShowTeams from "../components/ShowTeams.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="XDTV">
  <main class="max-w-5xl px-5 mx-auto mt-10">
    <ShowTeams />
  </main>
</Layout>
